In [3]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv('data/zippedData/rotten_tomatoes_movies.csv')
df

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [106]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

rotten_tomatoes_link - 0.0%
movie_title - 0.0%
movie_info - 2.0%
critics_consensus - 48.0%
content_rating - 0.0%
genres - 0.0%
directors - 1.0%
authors - 9.0%
actors - 2.0%
original_release_date - 7.0%
streaming_release_date - 2.0%
runtime - 2.0%
production_company - 3.0%
tomatometer_status - 0.0%
tomatometer_rating - 0.0%
tomatometer_count - 0.0%
audience_status - 3.0%
audience_rating - 2.0%
audience_count - 2.0%
tomatometer_top_critics_count - 0.0%
tomatometer_fresh_critics_count - 0.0%
tomatometer_rotten_critics_count - 0.0%

In [107]:
cols_to_drop = ['critics_consensus', 'movie_info','directors', 'authors', 'actors', 'original_release_date', 'streaming_release_date','runtime', 'production_company', 'tomatometer_count', 
                'audience_status', 'tomatometer_rating', 'audience_count', 'tomatometer_top_critics_count', 'rotten_tomatoes_link' ,'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count']
df_dropped_colums = df.drop(cols_to_drop, axis=1)
df_dropped_colums.head()

,movie_title,content_rating,genres,tomatometer_status,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Rotten,53.0
1,Please Give,R,Comedy,Certified-Fresh,64.0
2,10,R,"Comedy, Romance",Fresh,53.0
3,12 Angry Men (Twelve Angry Men),NR,"Classics, Drama",Certified-Fresh,97.0
4,"20,000 Leagues Under The Sea",G,"Action & Adventure, Drama, Kids & Family",Fresh,74.0

In [108]:
df_dropped_colums.set_index('movie_title')

,content_rating,genres,tomatometer_status,audience_rating
movie_title,,,,
Percy Jackson & the Olympians: The Lightning Thief,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Rotten,53.0
Please Give,R,Comedy,Certified-Fresh,64.0
10,R,"Comedy, Romance",Fresh,53.0
12 Angry Men (Twelve Angry Men),NR,"Classics, Drama",Certified-Fresh,97.0
"20,000 Leagues Under The Sea",G,"Action & Adventure, Drama, Kids & Family",Fresh,74.0
...,...,...,...,...
Zoot Suit,R,"Drama, Musical & Performing Arts",Rotten,74.0
Zootopia,PG,"Action & Adventure, Animation, Comedy",Certified-Fresh,92.0
Zorba the Greek,NR,"Action & Adventure, Art House & International,...",Fresh,86.0
Zulu,PG,"Classics, Drama",Fresh,91.0
Zulu Dawn,PG,"Action & Adventure, Art House & International,...",Rotten,62.0

In [109]:
for col in df_dropped_colums.columns:
    pct_missing = np.mean(df_dropped_colums[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

movie_title - 0.0%
content_rating - 0.0%
genres - 0.0%
tomatometer_status - 0.0%
audience_rating - 2.0%

In [110]:
df_dropped_colums= df_dropped_colums.sort_values("tomatometer_status", ascending=True).set_index('movie_title')
df_dropped_colums

,content_rating,genres,tomatometer_status,audience_rating
movie_title,,,,
Red,PG-13,"Action & Adventure, Comedy, Mystery & Suspense",Certified-Fresh,72.0
Tully,R,Comedy,Certified-Fresh,75.0
Contempt,PG,"Art House & International, Comedy, Drama",Certified-Fresh,85.0
Tully,R,"Art House & International, Drama",Certified-Fresh,76.0
No End in Sight,NR,"Documentary, Special Interest",Certified-Fresh,94.0
...,...,...,...,...
We Are the Heat,NR,Drama,NaN,NaN
What We Found,NR,Mystery & Suspense,NaN,NaN
"The World, the Flesh and the Devil",NR,"Action & Adventure, Classics, Drama, Science F...",NaN,67.0
You Get Me,NR,"Drama, Mystery & Suspense",NaN,27.0
Z,NR,Horror,NaN,NaN

In [111]:
df_dropped_colums.head(10)

,content_rating,genres,tomatometer_status,audience_rating
movie_title,,,,
Red,PG-13,"Action & Adventure, Comedy, Mystery & Suspense",Certified-Fresh,72.0
Tully,R,Comedy,Certified-Fresh,75.0
Contempt,PG,"Art House & International, Comedy, Drama",Certified-Fresh,85.0
Tully,R,"Art House & International, Drama",Certified-Fresh,76.0
No End in Sight,NR,"Documentary, Special Interest",Certified-Fresh,94.0
Pinocchio,G,"Animation, Kids & Family, Musical & Performing...",Certified-Fresh,73.0
Amélie,R,"Art House & International, Comedy, Drama, Romance",Certified-Fresh,95.0
Itzhak,NR,Documentary,Certified-Fresh,84.0
No Country for Old Men,R,"Action & Adventure, Drama, Mystery & Suspense",Certified-Fresh,86.0
Contagion,PG-13,"Action & Adventure, Mystery & Suspense",Certified-Fresh,63.0

In [119]:
df_unique = df_dropped_colums.drop_duplicates(subset='index')

df_unique

KeyError: Index(['index'], dtype='object')

In [113]:
df_dropped_colums.head(10)

,content_rating,genres,tomatometer_status,audience_rating
movie_title,,,,
Red,PG-13,"Action & Adventure, Comedy, Mystery & Suspense",Certified-Fresh,72.0
Tully,R,Comedy,Certified-Fresh,75.0
Contempt,PG,"Art House & International, Comedy, Drama",Certified-Fresh,85.0
Tully,R,"Art House & International, Drama",Certified-Fresh,76.0
No End in Sight,NR,"Documentary, Special Interest",Certified-Fresh,94.0
Pinocchio,G,"Animation, Kids & Family, Musical & Performing...",Certified-Fresh,73.0
Amélie,R,"Art House & International, Comedy, Drama, Romance",Certified-Fresh,95.0
Itzhak,NR,Documentary,Certified-Fresh,84.0
No Country for Old Men,R,"Action & Adventure, Drama, Mystery & Suspense",Certified-Fresh,86.0
Contagion,PG-13,"Action & Adventure, Mystery & Suspense",Certified-Fresh,63.0